#ignore eclipse project files
.classpath
.project
.settings
bin

#ignore gradle files and build tmp files
.gradle
build
gradle-app.setting

#ignore intellij files
.idea
atlassian-ide-plugin.xml

#misc ignore
classes
*.iml

#ignore test build files
src/test/gradle/.git
src/test/gradle/.gradle
src/test/gradle/build
